{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html> 
<html> 
<head> 
	 <meta charset="UTF-8">
	<title>Restaurant Picker</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/jquery.mobile.structure-1.0.1.css' %}" />
    <link rel="apple-touch-icon" href="{% static 'restaurants/images/launch_icon_57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'restaurants/images/launch_icon_72.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'restaurants/images/launch_icon_114.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/jquery.mobile-1.0.1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'restaurants/custom.css' %}" />
    <script type="text/javascript" src="{% static 'restaurants/js/jquery-1.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'restaurants/js/jquery.mobile-1.0.1.min.js' %}"></script>
</head> 

<body> 
<div id="choisir_ville" data-role="page" data-add-back-btn="true">
	<div data-role="header"> 
		<h1> Restaurant Picker</h1>
	</div> 
	<div data-role="content">
	    <div class="choice_list"> 
        	<h1> In which town do you want to eat? </h1>
	        {% if town_list %}
            	<ul data-role="listview" data-inset="true" data-filter="true"  >
                    {% for town_dict in town_list %}
                            <li><a href="{% url 'restaurants:choose_restaurant' food_id town_dict.town.id %}"  data-transition="slidedown">{{ town_dict.town.name }}<span class="ui-li-count">{{ town_dict.count }}</span></a> </li>

                    {% endfor %}
	            </ul>
            {% endif %}
    	</div>
	</div>
</div><!-- /page -->
</body>
</html>
